.container {
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group > *:not(:last-child) {
    margin-right: 10px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}
